---
- name: systemd가 실행 중인지 확인
  set_fact:
    is_systemd_running: "{{ (ansible_facts.proc_1_comm | default('')) == 'systemd' }}"

- name: Install fetch-crl
  package:
    name: fetch-crl
    state: present

- name: Configure fetch-crl
  template:
    src: fetch-crl.conf.j2
    dest: /etc/fetch-crl.conf

- name: Initial run of fetch-crl
  command: /usr/sbin/fetch-crl
  changed_when: false
  ignore_errors: true
  when: run_fetchcrl

- name: Start timer for fetch-crl (systemd)
  systemd_service:
    name: fetch-crl.timer
    state: started
    enabled: true
  when: is_systemd_running
- name: Start timer for fetch-crl (cron)
  cron:
    name: fetch-crl
    job: "/usr/sbin/fetch-crl"
    minute: "0"
    hour: "*/6"
  when: not is_systemd_running
